@font-face {
  font-family: "FuturaDemiC";
  src: url("../fonts/FuturaDemic.ttf");
}

@font-face {
  font-family: "FuturaBookC";
  src: url("../fonts/FuturaBookC.ttf");
}

@font-face {
  font-family: "Yeseva One";
  src: url("../fonts/YesevaOne-Regular.ttf");
}
