@font-face {
  font-family: "FuturaDemiC";
  src: url("../fonts/FuturaDemiC.eot"),
    url("../fonts/FuturaDemiC.woff2") format("woff2"),
    url("../fonts/FuturaDemiC.woff") format("woff"),
    url("../fonts/FuturaDemic.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaBookC";
  src: url("../fonts/FuturaBookC.eot"),
    url("../fonts/FuturaBookC.woff2") format("woff2"),
    url("../fonts/FuturaBookC.woff") format("woff"),
    url("../fonts/FuturaBookC.ttf") format("truetype");
}

@font-face {
  font-family: "Yeseva One";
  src: url("../fonts/YesevaOne.eot"),
    url("../fonts/YesevaOne.woff2") format("woff2"),
    url("../fonts/YesevaOne.woff") format("woff"),
    url("../fonts/YesevaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaMediumC";
  src: url("../fonts/FuturaMediumC.eot"),
    url("../fonts/FuturaMediumC.woff2") format("woff2"),
    url("../fonts/FuturaMediumC.woff") format("woff"),
    url("../fonts/FuturaMediumC.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.eot"),
    url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe WP";
  src: url("../../fonts/SegoeWP.eot"),
    url("../../fonts/SegoeWP.woff2") format("woff2"),
    url("../../fonts/SegoeWP.woff") format("woff"),
    url("../../fonts/SegoeWP.ttf") format("truetype");
}
