.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  height: 50px;

    &__logo {
      width: 13.89%;
      height: 50px;
      background-color: aqua;
      margin: 0;
    }

    &__number-mobile {
      width: 22.2215%;
      height: 50px;
      background-color: blue;
    }

    &__button {
      width: 22.2215%;
      height: 50px;
      background-color: brown;
    }

    .nav {
      width: 41.667%;
      height: 50px;
      background-color: yellow;
      margin: 0;
    }
}

@media screen and (max-width: 375px) {

  .footer {
      display: none;
    }
}
