.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 24px 100px 22px 82px;
  width: 100%;
  background: #131313;
}

.logo {
  margin: 0;
  font-family: "FuturaDemiC", "Segoe WP", sans-serif;
  font-size: 1.4rem;
  line-height: 25px;
  text-transform: uppercase;

  &__link {
    text-decoration: none;
    color: #e3b873;
  }
}

.navbar {
  width: 47.3771%;

  &__menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 31px;
  }

  &__link {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "FuturaBookC", "Segoe WP", sans-serif;
    font-size: 1.4rem;
    transition: 0.5s;

    &_active,
    &:hover {
      color: #e3b873;
    }
  }
}

.number-mobile {
  font-family: "FuturaDemiC", "Segoe WP", sans-serif;
  font-size: 1.4rem;
  text-decoration-line: underline;
  color: #e3b873;
}

.button-request {
  font-family: "FuturaDemiC", "Segoe WP", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #e3b873;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  border-radius: 2px;
  padding: 10px 26px 10px 27px;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1150px) {
  .navbar {
    width: 50%;
  }

  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1050px) {
  .header__button {
    display: none;
  }

  .navbar {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .header__number-mobile {
    display: none;
  }

  .navbar {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .header {
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;

    &__logo {
      margin-bottom: 20px;
    }
  }

  .navbar {
    width: 100%;

    &__link {
      font-size: 1.28rem;
    }

    &__menu {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 375px) {
  .header {
    background-color: #181818;
    flex-direction: row;
    padding: 21px 18px;

    &__number-mobile {
      display: block;
      color: #ffffff;
      font-size: 1.2rem;
    }

    &__logo {
      margin: 0;
      font-size: 1.2rem;
    }
  }

  .navbar {
    display: none;
  }
}
