@import "./main/rostov-ov-don";
@import "./main/completed_projects";
@import "./main/online_control";
@import "./main/types-of-repair";
@import "./main/circle-and-form";
@import "./main/realize-fantasies";
@import "./main/design-project";
@import "./main/how-working";
@import "./main/our-team";
@import "./main/our-clients";
@import "./main/question-and-map";

.main {
  width: 100%;
  overflow: hidden;
}
