.main {
  width: 100%;
  overflow: hidden;
}

@import "./main/rostov-ov-don";
@import "./main/completed_projects";
@import "./main/online_control";
@import "./main/types-of-repair";
@import "./main/circle-and-form";
@import "./main/realize-fantasies";
@import "./main/design-project";
@import "./main/how-working";


