.projects {
  display: flex;
  width: 94.8993%;
  background-color: #131313;
  padding-bottom: 405px;
  margin-top: 10px;

  &__completed-projects {
    padding-top: 165px;
    padding-left: 7.5%;
  }
}

.completed-projects {
  width: 47%;

  &__h2 {
    width: 41.2118%;
    position: relative;
    margin-bottom: 27px;
    font: normal 1.6875rem/37px "Yeseva One";
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #e3b873;

    &::after {
      content: url("../images/project_line.svg");
      position: absolute;
      bottom: 10px;
      left: 161px;
    }
  }

  &__p {
    width: 87%;
    font-family: "FuturaBookC";
    font-size: 18px;
    line-height: 29px;
    color: #ffffff;
    margin-bottom: 42px;
  }
}

.details-of-project {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 59px;

  &__city,
  &__apartment-area,
  &__repair-time,
  &__repair-cost {
    width: 50%;
    margin-bottom: 36px;
  }

  &__h4 {
    font: 1.125rem/25px "Yeseva One";
    text-transform: uppercase;
    color: #e3b873;
  }

  &__p {
    font: 0.9375rem/20px "FuturaBookC";
    color: #ffffff;
    width: 50%;
  }
}

.pagination {
  width: 208px;
  display: flex;
  align-items: center;

  &__circle {
    display: block;
    width: 9.57px;
    height: 9.57px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4.285px;
    margin-right: 17.54px;

    &:nth-child(4) {
      margin: 0;
    }

    &_active {
      display: block;
      margin-right: 17.54px;
      width: 9.57px;
      height: 9.57px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4.285px;
    }
  }

  &__left-arrow {
    margin-right: 29.5px;
    transition: 0.5s;

    &:hover {
      transform: translateX(-10px);
    }
  }

  &__right-arrow {
    margin-left: 29.5px;
    transition: 0.5s;

    &:hover {
      transform: translateX(10px);
    }
  }
}

.slider-nav {
  width: 56%;
  padding-top: 97px;

  &__nav {
    margin-bottom: 45px;
  }
}

.nav {
  width: 82%;

  &__menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: block;
    padding-bottom: 8px;
    font: 0.875rem/1.1875rem "Yeseva One";
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    padding-bottom: 8px;
    transition: 0.5s;

    &_active {
      display: block;
      font: 0.875rem/1.1875rem "Yeseva One";
      text-transform: uppercase;
      color: #e3b873;
      border-bottom: 1px solid #e3b873;
      padding-bottom: 8px;
    }

    &:hover {
      color: #e3b873;
    }
  }
}

.slider {
  position: relative;
  width: 100%;
  white-space: nowrap;

  &__picture {
    &_showing {
      width: 89%;
      margin-right: 16px;
      vertical-align: top;
    }

    &_hidden {
      display: inline-block;
      overflow: hidden;

      img {
        margin-left: -138px;
        vertical-align: top;
        width: 89%;
      }
    }
  }
}

.button-arrow-right {
  position: absolute;
  top: 42%;
  right: -27.36px;
  width: 54.72px;
  height: 54.72px;
  border-radius: 27.36px;
  cursor: pointer;
  background: #e3b873;
  box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
  border: none;

  &:after {
    content: url("../images/arrow-slider-left.svg");
    position: absolute;
    top: 19.03px;
    left: 23.09px;
  }
}

.button-arrow-left {
  display: none;
}

.details-of-project-mobile {
  display: none;
}
/*Adaptive for .project*/
@media screen and (max-width: 1350px) {
  .nav {
    width: 100%;

    &__menu {
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 1150px) {
  .projects {
    width: 100%;

    &__completed-projects {
      padding-top: 30px;
    }
  }

  .button-arrow-right {
    right: 10px;
  }

  .slider__picture_showing {
    width: 100%;
  }

  .slider-nav {
    padding-top: 30px;

    &__nav {
      margin-bottom: 10px;
    }
  }

  .nav__link {
    font-size: 0.7rem;

    &_active {
      font-size: 0.7rem;
      padding: 0;
    }
  }

  .details-of-project {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 900px) {
  .projects {
    margin: 0;
    padding-bottom: 30px;

    &__completed-projects {
      padding-top: 20px;
    }
  }

  .slider-nav {
    padding-top: 20px;
  }

  .nav {
    display: none;
  }

  .completed-projects__h2 {
    width: 100%;
    margin-bottom: 15px;

    &:after {
      display: none;
    }
  }

  .pagination {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .projects {
    display: block;

    &__completed-projects {
      padding-left: 0;
    }
  }

  .completed-projects {
    width: 100%;

    &__h2 {
      text-align: center;
    }

    &__p {
      margin-left: 25px;
    }
  }

  .slider-nav {
    width: 100%;
    padding: 0;
  }

  .details-of-project {
    display: none;

    &__h4 {
      font-size: 0.875rem;
      line-height: 138.6%;
      margin-bottom: 10px;
    }

    &__p {
      font-size: 0.875rem;
      line-height: 138.6%;
    }
  }

  .details-of-project-mobile {
    width: 92%;
    margin: 36.45px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .button-arrow-left {
    display: block;
    position: absolute;
    top: 45%;
    left: 13px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    cursor: pointer;
    background: #e3b873;
    box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
    border: none;

    &:after {
      content: url("../images/arrow-slider-left-mobile.svg");
      position: absolute;
      top: 11px;
      right: 15.65px;
      transform: scaleX(-1);
    }
  }

  .button-arrow-right {
    top: 45%;
    right: 13px;
    width: 36px;
    height: 36px;
    border-radius: 18px;

    &:after {
      display: none;
    }

    &:before {
      position: absolute;
      content: url("../images/arrow-slider-left-mobile.svg");
      position: absolute;
      top: 11px;
      left: 15.65px;
    }
  }
}

@media screen and (max-width: 375px) {
  .projects {
    background-color: #181818;
    padding-bottom: 0;

    &__completed-projects {
      padding-top: 30px;
    }
  }

  .completed-projects__h2 {
    font: 1.375rem/138.6% "Yeseva One";
    width: 50%;
    margin: 0 auto 25px auto;
  }

  .completed-projects__p {
    font: 0.875rem "FuturaBookC";
    line-height: 158.48%;
    text-align: center;
  }

  .slider-nav {
    width: 90.6667%;
    margin: 0 auto;
  }
}
