.online-control {
  position: relative;
  width: 100%;
  margin-bottom: 95px;

  &_margin-negative {
    width: 56.7361%;
    margin: -365px auto 0 auto;
  }

  &__h3 {
    width: 180px;
    position: relative;
    font-family: "Yeseva One", "Segoe WP", sans-serif;
    font-size: 2rem;
    margin: 0 auto 75px auto;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    &:after {
      content: url("../images/camera.svg");
      position: absolute;
      left: 33px;
      top: 39px;
    }
  }

  &__video {
    width: 100%;
    height: 434px;
  }

  &__p {
    position: relative;
    font-family: "FuturaBookC", "Segoe WP", sans-serif;
    font-size: 2rem;
    line-height: 34px;
    text-align: center;
    color: #363636;
    width: 83%;
    margin: 90px auto 50px auto;

    &:before {
      content: url("../images/horizontal-line.svg");
      position: absolute;
      top: -53px;
      left: 46.0102%;
    }
  }
}

.form-order {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 94.1248%;
  margin: 0 auto;

  &__label {
    display: block;
    font-family: "FuturaBookC", "Segoe WP", sans-serif;
    font-size: 1.5rem;
    line-height: 20px;
    color: rgba(54, 54, 54, 0.5);
  }

  &__input {
    width: 100%;
    font-family: "FuturaBookC", "Segoe WP", sans-serif;
    font-size: 1.8rem;
    line-height: 24px;
    color: #363636;
    padding-bottom: 4px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    outline: none;

    &::-webkit-input-placeholder {
      color: #363636;
    }

    &::-moz-placeholder {
      color: #363636;
    }
  }

  &__name {
    width: 231px;
  }

  &__tel {
    width: 231px;
  }

  &__checkbox {
    margin: 36px auto 50px auto;
    font-family: "FuturaBookC", "Segoe WP", sans-serif;
    font-size: 1.6rem;
    line-height: 22px;

    label {
      display: flex;
      align-items: center;
    }

    input[type="checkbox"] {
      display: none;
      &:checked {
        & ~ .custom-checkbox {
          &:after {
            background: url("../images/custom-checkbox.svg") center center
              no-repeat;
          }
        }
      }
    }

    .custom-checkbox {
      display: block;
      position: relative;
      width: 18px;
      height: 18px;
      background-color: #ffffff;
      background: #e3b873;
      border-radius: 1px;
      margin-right: 8.62px;

      &:after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
      }
    }
  }
}

.submit {
  width: 200px;
  height: 51px;
  background: #e3b873;
  box-shadow: 0 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  border: none;
  font-family: "FuturaDemiC", "Segoe WP", sans-serif;
  font-size: 1.5rem;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1300px) {
  .form-order {
    justify-content: space-around;

    &__submit {
      width: 230px;
      margin: 30px auto;
    }

    &__checkbox {
      margin-top: 60px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .online-control {
    &__p {
      width: 100%;
      margin-top: 50px;

      &:before {
        top: -40px;
      }
    }

    &_margin-negative {
      width: 90%;
    }

    &__video {
      width: 80%;
      height: 434px;
      margin-left: 10%;
    }
  }

  .form-order__submit {
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .online-control {
    background-color: #131313;

    &_margin-negative {
      margin-top: 0;
    }

    &__h3 {
      width: 197px;
      font-size: 2.2rem;
    }

    &__p {
      color: #ffffff;
    }

    &__video {
      width: 90%;
      height: 434px;
      margin-left: 5%;
    }
  }

  .form-order {
    display: block;
    position: relative;

    &__label {
      color: rgba(255, 255, 255, 0.5);
    }

    &__checkbox {
      color: #ffffff;
      padding-bottom: 89px;
      margin-top: 25px;
    }

    &__name {
      width: 100%;
      margin: 0 auto;
    }

    &__tel {
      width: 100%;
      margin: 0 auto;
    }

    &__input {
      background-color: #131313;
      border-bottom: 1px solid rgba(54, 54, 54, 0.3);
      color: #ffffff;

      &::-webkit-input-placeholder {
        color: #ffffff;
      }
      &::-moz-placeholder {
        color: #ffffff;
      }
    }

    &__submit {
      position: absolute;
      top: 170px;
      left: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .online-control {
    &__video {
      width: 100%;
      height: 207px;
      margin: 0;
    }
  }
}

@media screen and (max-width: 375px) {
  .online-control {
    background-color: #181818;
    padding-top: 25px;

    &__h3 {
      margin-bottom: 90px;
    }

    &__p {
      font-size: 1.4rem;
      margin: 37px 0 25px 0;

      &:before {
        top: -32px;
      }
    }
  }

  .form-order {
    &__submit {
      width: 100%;
      top: 267px;
    }

    &__name {
      margin-bottom: 58px;
    }

    &__input {
      background-color: #181818;
    }
  }
}
