.our-team {
  margin-top: -415px;
  padding-bottom: 105px;

  &__persons {
    margin: 81px auto 0 auto;
  }

  &__name {
    width: 108px;
    margin: 0 auto 64px auto;
    position: relative;
    font-family: "Yeseva One", "Segoe WP", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffff;

    &:after {
      content: url("../images/our-team.svg");
      position: absolute;
      top: 38px;
      left: -2px;
    }
  }

  &__description {
    width: 30%;
    margin: 0 auto;
    font-family: "FuturaBookC", "Segoe WP", sans-serif;
    font-size: 2rem;
    line-height: 27px;
    text-align: center;
    color: #363636;

    &:nth-child(2) {
      color: #ffffff;
    }

    &:nth-child(4) {
      width: 50%;
      position: relative;

      &:before {
        content: url("../images/horizontal-line.svg");
        position: absolute;
        top: -37px;
        left: 46%;
      }
    }
  }
}

.persons {
  display: flex;
  justify-content: space-between;
  width: 71.5%;
  margin-bottom: 67px;

  span {
    display: block;
  }
}

.name-prof {
  &__name {
    font-family: "Yeseva One", "Segoe WP", sans-serif;
    font-size: 1.8rem;
    line-height: 25px;
    text-align: center;
    color: #181818;
    padding-top: 25px;
    padding-bottom: 3px;
  }

  &__profession {
    font-family: "FuturaBookC", "Segoe WP", sans-serif;
    font-size: 1.8rem;
    line-height: 26px;
    text-align: center;
    color: #959595;
  }
}

.card {
  &__experience {
    display: block;
    width: 85%;
    margin: 0 auto;
    padding: 12px 0;
    margin-top: -66px;
    font-family: "Yeseva One", "Segoe WP", sans-serif;
    font-size: 1.3rem;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #e3b873;
  }

  &__name-prof {
    position: relative;
    width: 85%;
    margin: 0 auto;
    top: -82px;
  }

  &__photo-mobile {
    display: none;
  }

  &:nth-child(1) {
    position: relative;
    &:before {
      content: url("../images/manager-icon.png");
      position: absolute;
      top: -51px;
      left: -57px;
    }
  }

  &:nth-child(2) {
    position: relative;
    &:before {
      content: url("../images/designer-icon.png");
      position: absolute;
      top: -51px;
      left: -57px;
    }
  }

  &:nth-child(3) {
    position: relative;
    &:before {
      content: url("../images/foreman-icon.png");
      position: absolute;
      top: -51px;
      left: -57px;
    }
  }
}

.name-prof {
  background-color: #ffffff;
}

@media screen and (max-width: 1300px) {
  .persons {
    width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    width: 30%;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 950px) {
  .our-team {
    background-color: #131313;

    &__description {
      color: #ffffff;
    }
  }

  .persons {
    flex-direction: column;
    align-items: center;
    margin-bottom: -15px;
  }

  .card {
    width: 303.74px;

    img {
      width: 303.74px;
      margin-bottom: 164px;
    }

    &__descr {
      width: 233px;
      margin: 0 auto;
    }

    &__name-prof,
    &__experience {
      width: 100%;
      padding-bottom: 13px;
    }

    &__name-prof {
      top: -247px;
    }

    &__experience {
      margin-top: -247px;
    }

    &__photo-mobile {
      display: block;
    }

    &__photo {
      display: none;
    }
  }
}

@media screen and (max-width: 750px) {
  .our-team {
    padding-bottom: 50px;

    &__description {
      width: 90.6667%;
      font-family: "FuturaBookC", "Segoe WP", sans-serif;
      font-size: 1.5rem;
      line-height: 135.84%;
    }
  }
}

@media screen and (max-width: 500px) {
  .our-team {
    margin-top: -260px;
    padding-top: 30px;

    &__name {
      width: 119px;
      line-height: 138.6%;
    }

    &__description:nth-child(4) {
      display: none;
    }
  }
}

@media screen and (max-width: 375px) {
  .our-team {
    margin-top: -30px;
    padding-bottom: 0;
    background-color: #181818;
  }

  .persons {
    margin-left: 35px;

    .card:nth-child(n + 2):before {
      top: -74px;
    }
  }
}
