.question-and-map {
  position: relative;
  padding-top: 273px;
  padding-bottom: 65px;
  background: url("../images/bg-question-and-map.jpg") #181818;
  background-size: cover;

  &__address {
    font: 1.25rem/28px "Yeseva One";
    width: 42%;
    margin: 0 auto 25px auto;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;

    &-mob {
      display: none;
    }
  }
}

.form-question {
  position: absolute;
  top: -225px;
  left: 20%;
  padding-bottom: 30px;
}

.name-phone {
  width: 59.1166%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  label {
    display: block;
    font: 0.9375rem/20px "FuturaBookC";
    color: rgba(255, 255, 255, 0.5);
  }

  .name {
    width: 45%;
  }

  .number-phone {
    width: 45%;
  }

  .name__inp, .number-phone__inp, .email__inp {
    width: 100%;
    background: none;
    border: none;
    font: 1.125rem/25px "FuturaMediumC";
    color: #FFFFFF;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 8px;


    &::-webkit-input-placeholder { color: #fff; }

    &::-moz-placeholder { color: #fff; }
  }
}

.form-question {
  width: 61.3194%;
  margin: 0 auto;
  padding-top: 32px;
  background-color: #181818;

  &__h6 {
    font: 1.25rem/28px "Yeseva One";
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 50px
  }

  .submit {
    margin: 0 auto;
    display: block;
  }
}

.question {
  width: 59%;
  margin: 0 auto 45px auto;

  label {
    display: block;
    font: 0.9375rem/20px "FuturaBookC";
    color: rgba(255, 255, 255, 0.5);
  }

  &__inp {
    width: 100%;
    background: none;
    border: none;
    font: 1.125rem/25px "FuturaMediumC";
    color: #FFFFFF;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 8px;


    &::-webkit-input-placeholder { color: #fff; }

    &::-moz-placeholder { color: #fff; }
  }

  &__checkbox {
    width: 286px;
    margin-bottom: 52px;
  }
}

.social-network {
  display: flex;
  width: 70px;
  justify-content: space-between;
  margin: 0 auto 35px auto;

  &__email, &__instagram {
    display: block;
  }

  &-mob {
    display: none;
  }
}

.map {
  width: 67.0193%;
  height: 465px;
  margin: 0 auto;

  iframe {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 960px) {
  .form-question {
    position: static;
    width: 90.6667%;
  }

  .question-and-map {
    background-image: none;
    padding-top: 0;

    &__address {
      width: 75%;
    }
  }
}

@media screen and (max-width: 700px) {
  .name-phone {
    flex-direction: column;
    width: 100%;
    margin-bottom: 55px;

    .name {
      width: 100%;
      margin-bottom: 55px;
    }

    .number-phone {
      width: 100%;
    }
  }

  .question {
    width: 100%;
  }

  .question__checkbox {
    width: 100%;
  }

  .map {
    width: 90.6667%;
    height: 255px;
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 375px) {
  .question-and-map {
    padding-bottom: 1px;

    &__address, &__social-network {
      display: none;
    }

    &__address-mob {
      display: block;
      width: 86%;
      margin: 0 auto 21px auto;
      font: 1.125rem/138.6% "Yeseva One";
      text-align: center;
      text-transform: uppercase;
      color: #E3B873;
    }

    &__social-network-mob {
      display: flex;
      width: 98px;
      justify-content: space-between;
      margin: 0 auto 35px auto;

      &__email, &__instagram {
        display: block;
      }
    }
  }

  .form-question {
    padding-bottom: 43px;
    padding-top: 0;

    &__h6 {
      margin-bottom: 50px;
    }

    .submit {
      width: 100%;
    }
  }

  .question {
    margin-bottom: 15px;

    &__checkbox {
      margin-bottom: 66px;
    }
  }
}
