.rostov-on-don {
  position: relative;
  display: flex;
  width: 100%;
  background-color: #131313;
}

.instagram {
  box-sizing: border-box;
  width: 5.6944%;
  padding: 201px 0.6% 328px 0;

  &__link {
    position: relative;
    font: 0.875rem "FuturaDemiC";
    transform: rotate(90deg);
    color: #e3b873;
    text-transform: uppercase;
    display: block;
    text-align: center;
    transition: 0.5s;

    &::after {
      content: url("../images/line.svg");
      position: absolute;
      top: -110%;
      right: -37px;
      transform: rotate(90deg);
    }

    &:hover {
      animation: rotate 1s ease-in infinite;
    }
  }
}

.turnkey-repair {
  width: calc(100% - 5.6944%);
  background-image: url("../images/bg_rostov-on-don.jpg");
  background-size: cover;

  &__description {
    padding: 194px 45.7945% 208px 4.4183%;
  }
}

.description {
  width: 43%;

  &__rost-on-don {
    font: 2.5rem/53px "Yeseva One";
    text-transform: uppercase;
    color: #ffffff;

    span {
      color: #e3b873;
    }
  }

  &__p {
    width: 71%;
    font: 1.375rem "FuturaBookC";
    line-height: 30px;
    color: #ffffff;
    padding: 19px 0 41px 0;
  }

  &__btn-calculate {
    margin-right: 17px;
  }
}

.btn-calculate {
  background: rgba(227, 184, 115, 0);
  border: 1px solid #ffffff;
  border-radius: 2px;
  font: 0.8125rem "FuturaDemiC";
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 16px 40px;
  transition: 0.5s;

  &:hover {
    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: 1px solid rgba(255, 255, 255, 0);
  }
}

.btn-application {
  background: rgba(227, 184, 115, 0);
  border-radius: 2px;
  font: 0.8125rem "FuturaDemiC";
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 16px 21px;
  border: 1px solid #ffffff;
  transition: 0.5s;

  &:hover {
    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: 1px solid rgba(255, 255, 255, 0);
  }
}

.scroll-down {
  position: absolute;
  padding: 40px 93px 39px 51px;
  background-color: #131313;
  bottom: -41px;
  transition: 0.5s;

  &__span {
    position: relative;
    font: 0.875rem "Yeseva One";
    text-transform: uppercase;
    color: #ffffff;

    &::after {
      content: url("../images/scroll\ down.png");
      position: absolute;
      top: -7px;
      right: -41px;
    }
  }

  &:hover {
    background-color: #757070;
  }
}

/*Adaptive for .rostov-on-don*/
@media screen and (max-width: 1350px) {
  .instagram {
    &__link::after {
      display: none;
    }
  }

  .description {
    width: 62%;
  }

  .turnkey-repair__description {
    padding-right: 0;
  }
}

@media screen and (max-width: 900px) {
  .turnkey-repair {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 50px;
    padding-left: 20px;

    &__description {
      padding: 50px 0 0 0;
    }
  }

  .description {
    width: 100%;
  }

  .scroll-down {
    display: none;
  }

  .instagram {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .description {
    &__p {
      width: 90.6507%;
      text-align: left;
      padding: 10px;
    }

    &__rost-on-don {
      font-size: 2rem;
    }

    &__btn-calculate {
      width: 80%;
      margin-bottom: 26px;
    }

    &__btn-application {
      width: 80%;
    }
  }
}

@media screen and (max-width: 375px) {
  .turnkey-repair {
    background-image: url("../images/bg_rostov-on-don_mobile.jpg");
    background-size: cover;
    padding: 79px 18px 61px;

    &__description {
      padding: 0;
    }
  }

  .description {
    &__rost-on-don {
      padding: 0 0 12px 0;
      text-align: left;
      font-size: 1.4375rem;
      line-height: 132.83%;
    }

    &__p {
      padding: 0 0 32px 0;
      margin: 0;
      font-size: 1.125rem;
      line-height: 135.84%;
    }

    &__btn-calculate {
      width: 100%;
      margin-bottom: 26p;
    }

    &__btn-application {
      width: 100%;
    }
  }
}
