@import "./base/normilize";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./base/typography";

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-color: green;
}

@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";
