@import "./base/normilize";
@import "./utils/keyframes";
@import "./base/typography";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
